[Unit]
Description=Vaultwarden

[Container]
AutoUpdate=registry
ContainerName=vaultwarden
Environment=TZ=Europe/Berlin
Environment=DOMAIN=https://vaultwarden.chrayed.de
Environment=WEBSOCKET_ENABLED=true
Environment=SIGNUPS_ALLOWED=false
Environment=SSO_ENABLED=true
Environment=SSO_AUTHORITY=https://chrayed.de/application/o/vaultwarden/
Secret=vaultwarden-client-id,type=env,target=SSO_CLIENT_ID
Secret=vaultwarden-client-secret,type=env,target=SSO_CLIENT_SECRET
Environment=SSO_SCOPES="openid email profile offline_access"
Environment=SSO_ALLOW_UNKNOWN_EMAIL_VERIFICATION=false
Environment=SSO_CLIENT_CACHE_EXPIRATION=0
Environment=SSO_CLIENT_CACHE_EXPIRATION=0
Environment=SSO_ONLY=true
Environment=SSO_SIGNUPS_MATCH_EMAIL=true
Image=docker.io/vaultwarden/server:testing
Pod=vaultwarden.pod
Volume=vaultwarden-data:/data

[Service]
Restart=always

[Install]
WantedBy=default.target
