[Unit]
Description=Deemix

[Container]
AutoUpdate=registry
ContainerName=deemix
Environment=TZ=Europe/Berlin
Environment=PUID=1000
Environment=PGID=1000
Image=ghcr.io/bambanah/deemix:latest
Pod=media.pod
Volume=deemix-config.volume:/config
Volume=/var/home/administrator/data/arr-suite/medien/musik:/downloads:z

[Service]
Restart=always

[Install]
WantedBy=default.target
