[Unit]
Description=Jellyfin Media Server

[Container]
AddDevice=/dev/dri:/dev/dri:rw
AutoUpdate=registry
ContainerName=jellyfin
Environment=TZ=Europe/Berlin
GroupAdd=keep-groups
Image=docker.io/jellyfin/jellyfin:latest
Pod=media.pod
Volume=jellyfin-config.volume:/config
Volume=jellyfin-cache.volume:/cache
Volume=/var/home/administrator/data/arr-suite:/arr-suite:z

[Service]
Restart=always

[Install]
WantedBy=default.target
