[Unit]
Description=Nextcloud Redis Cache

[Container]
AutoUpdate=registry
ContainerName=nextcloud-cache
Exec=--save 60 1 --loglevel warning
Image=docker.io/library/redis:alpine
Pod=nextcloud.pod
Volume=nextcloud-cache.volume:/data

[Service]
Restart=always

[Install]
WantedBy=default.target
