[Unit]
Description=Nextcloud

[Container]
AutoUpdate=registry
ContainerName=nextcloud-web
Environment=TZ=Europe/Berlin
Image=docker.io/library/nginx:alpine
Pod=nextcloud.pod
Volume=nextcloud-web:/var/www/html
Volume=./nginx.conf:/etc/nginx/nginx.conf:z

[Service]
Restart=always

[Install]
WantedBy=default.target
