[Unit]
Description=Nextcloud

[Container]
AutoUpdate=registry
ContainerName=nextcloud-app
Environment=TZ=Europe/Berlin
Environment=POSTGRES_HOST=nextcloud-database
Environment=POSTGRES_DB=nextcloud
Environment=POSTGRES_USER=nextcloud
Secret=nextcloud-database-password,type=env,target=POSTGRES_PASSWORD
Environment=REDIS_HOST=nextcloud-cache
Environment=NEXTCLOUD_TRUSTED_DOMAINS=nextcloud.chrayed.de
Environment=TRUSTED_PROXIES=10.0.10.1/24
Image=docker.io/library/nextcloud:fpm
Pod=nextcloud.pod
Volume=nextcloud-web:/var/www/html
Volume=nextcloud-data:/var/www/html/data

[Service]
Restart=always

[Install]
WantedBy=default.target
