[Unit]
Description=Nextcloud OnlyOffice

[Container]
AutoUpdate=registry
ContainerName=nextcloud-office
Image=docker.io/onlyoffice/documentserver:latest
Pod=nextcloud.pod
Volume=nextcloud-office-data:/var/www/onlyoffice/Data
Volume=nextcloud-office-log:/var/log/onlyoffice

[Service]
Restart=always

[Install]
WantedBy=default.target
